/* Brand colours */

:root {
  /* ===== Raw Blues ===== */
  --blue-50:  #ECECFB;
  --blue-100: #C1C1F2;
  --blue-200: #9696E9;
  --blue-300: #6C6CDF;
  --blue-400: #4141CE;
  --blue-500: #232391;
  --blue-600: #0D0D4B;

  /* ===== Raw Sands / Browns ===== */
  --sand-50:  #FAEFE5;
  --sand-100: #F0C08D;
  --sand-200: #CA995C;
  --sand-300: #9D7546;
  --sand-400: #715431;
  --sand-500: #49351D;
  --sand-600: #24180A;

  /* ===== Greys ===== */
  --grey-50:  #EDEDEE;
  --grey-100: #C5C5C8;
  --grey-200: #9E9EA3;
  --grey-300: #797980;
  --grey-400: #56565E;
  --grey-500: #35353B;
  --grey-600: #17171B;

  --color-brand-primary:   var(--blue-500);
  --color-brand-secondary: var(--sand-100);

  --color-brand-primary-dark: var(--blue-600);
  --color-brand-secondary-dark: var(--sand-500);

  --color-brand-primary-light: var(--blue-50);
  --color-brand-secondary-light: var(--sand-50);

  --color-brand-primary-mid: var(--blue-300);
  --color-brand-secondary-mid: var(--sand-300);
}

.block-simple-blocksite-logo .content img{
	height: 68px;
}

a, a.link, a:visited { 
	color: var(--color-brand-primary);
}

.button, .button:visited {
	background-color: var(--color-brand-primary);
	border: none;
}

.button:hover, .button:active, input.form-submit:hover, input.form-submit:focus {
    background-color: var(--grey-600);
    border: var(--grey-600) solid 2px;
}

h1, h2, h3 {
	color: var(--color-brand-primary);
}

ul.tabs li.is-active, ul.tabs li.is-active a {
	background-color: var(--color-brand-primary);
}

.tabs ul.primary li a {
	color: var(--color-brand-primary);
}

.tabs ul.primary li.is-active a {
	background-color: var(--color-brand-primary);
}

ul.tabs.primary {
	border-bottom: 1px solid var(--color-brand-primary);
}

div.block-facet--links ul {
	color: var(--color-brand-primary);
}

.facets-widget-links ul li.facet-item label .facet-item__value {
	color: var(--color-brand-primary); 
}

/* set brighter link colour */
.site-footer .content a, 
.site-footer .content a:visited {
	color: var(--color-brand-primary-mid);
}

#header {
	color: var(--color-brand-primary-mid);
	border-bottom: var(--grey-300) solid 2px;
}

.region-header, .region-header a, .region-header li a.is-active, .region-header .site-branding__text, .region-header .site-branding, .region-header .site-branding__text a, .region-header .site-branding a, .region-secondary-menu .menu-item a, .region-secondary-menu .menu-item a.is-active {
	color: var(--color-brand-primary-mid);
}

.sf-accordion-toggle a::before {
	color: var(--color-brand-primary-mid);
}

div.sf-accordion-toggle.sf-style-default a {
	color: var(--color-brand-primary-mid);
}

/* either use FF MUNI blue or delete
body {
	border-top: 6px solid var(--color-brand-secondary);
	border-bottom: 6px solid var(--color-brand-secondary);
}
*/

div.layout-main-wrapper {
	border: none;
}

.region-primary-menu ul.menu > li > span,
.region-primary-menu ul.menu > li {
	font-size: 1.2em;
	font-weight: 300;
}

footer.site-footer {
	border-top: 2px solid var(--grey-300);
}


/* sandy search filter background (except for fulltext search) */

.views-exposed-form.block {
	background: var(--color-brand-primary-light);
}

.views-exposed-form.block.block-views-exposed-filter-blocksolr-search-search-top {
	background: none;
}


/* style login/logout */

nav.navigation.menu--account,
#block-islandora-muni-languageswitcher,
#block-languageswitcher {
	clear: none;
	float: none;
	padding-left: 1rem;
	padding-top: .3rem;
}

nav.navigation.menu--account {
	width: auto;
	height: auto;
}

nav.navigation.menu--account a {
	font-size: 1.3rem;
	padding: 0;
}

/* new */

@media (max-width: 560px) {
  div.block-simple-blockfront-page-jumbotron > div.content {
    min-height: 200px;
  }

}

@media (max-width: 480px) {
  div.block-simple-blockfront-page-jumbotron > div.content {
    min-height: 220px;
  }
}